.logo{
    
    color: red;
    text-align: center;
    
}
.main{
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
    /* border: 2px solid black; */
    width: 30rem;
    height: 30rem;
    margin-left: 35rem;
    margin-top: 8rem;
}
.items p{
    color:wheat;
}
.InputCss{
    width: 19rem;
    height: 4rem;
    border-radius: 3px ;
    border: none;
    background-color: red;
margin-left: 6rem;
cursor: pointer;
font-size: large;
}
.logo ,h5{
    margin-left: 4rem;
}

@media only  screen and (max-width:768px) {
    .main{
        margin-left: 0rem;
        width: fit-content;
    }
    .InputCss{
        margin-left: 2.5rem;
    }
    
}