.main{
    height: 32rem;
    width: 20rem;
    /* background-color: green; */
    margin-left: 40rem;
    margin-top: 7rem;
}

.input{
    height: 3rem;
    width: 18rem;
    margin: 1rem 0 1rem 0;
}
.btn{
    height: 3rem;
    width: 18rem;
    margin: 1rem 0 1rem 0;
    border-radius: 2px;
    background-color: red; 
    border: none;
}
@media only screen and (max-width:768px) {
    .main{
        height: fit-content;
        width: fit-content;
        /* background-color: green; */
        margin-left: 0.5rem;
        margin-top: 0;
    }
}